<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" asp-href-include="~/lib/img/favicon.png" type="image/png">
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" asp-href-include="~/lib/css/bootstrap.css">
    <link rel="stylesheet" asp-href-include="~/lib/vendors/linericon/style.css">

    <link rel="stylesheet" asp-href-include="~/lib/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" asp-href-include="~/lib/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" asp-href-include="~/lib/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" asp-href-include="~/lib/vendors/animate-css/animate.css">
    <link rel="stylesheet" asp-href-include="~/lib/vendors/popup/magnific-popup.css">
    <!-- main css -->
    <link rel="stylesheet" asp-href-include="~/lib/css/style.min.css">
    <link rel="stylesheet" asp-href-include="~/lib/css/responsive.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">




    @RenderSection("Style", false)
</head>

<body>

    <!--================Header Menu Area =================-->
    <header class="header_area">
        @Html.Partial("ShowMainMenu")


    </header>
    

    <div class="container">
        @RenderBody()

    </div>

    @* Footer *@
    @*<footer class="footer-area">
        <div class="container">

            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-md-8 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    All rights reserved
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-md-4 footer-social">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-vk"></i></a>
                </div>
            </div>
        </div>
    </footer>*@
    <!--================ End footer Area  =================-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script asp-src-include="~/lib/js/jquery-3.3.1.min.js"></script>
    <script asp-src-include="~/lib/js/popper.js"></script>
    <script asp-src-include="~/lib/js/bootstrap.min.js"></script>
    <script asp-src-include="~/lib/js/stellar.js"></script>
    <script asp-src-include="~/lib/vendors/lightbox/simpleLightbox.min.js"></script>
    <script asp-src-include="~/lib/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script asp-src-include="~/lib/vendors/isotope/imagesloaded.pkgd.min.js"></script>
    <script asp-src-include="~/lib/vendors/isotope/isotope.pkgd.min.js"></script>
    <script asp-src-include="~/lib/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script asp-src-include="~/lib/vendors/popup/jquery.magnific-popup.min.js"></script>
    <script asp-src-include="~/lib/js/jquery.ajaxchimp.min.js"></script>
    <script asp-src-include="~/lib/vendors/counter-up/jquery.waypoints.min.js"></script>
    <script asp-src-include="~/lib/vendors/counter-up/jquery.counterup.js"></script>
    <script asp-src-include="~/lib/js/mail-script.js"></script>
    <script asp-src-include="~/lib/js/theme.js"></script>
    <script asp-src-include="~/lib/vendors/jquery/dist/jquery.min.js"></script>

    <script>

        $(document).ready(function () {

            $('a.myExercise').on('click', function (e) {
                e.preventDefault();

                var id = $(this).attr("id");
                $("#content").load("/Course/Exercise", { _exerciseID: id });

            });
            ``
        });
    </script>
    @RenderSection("Scripts", false)



</body>
</html>
