@model Exercise

<div>
    <h2 align="center">@Model.Title</h2>
    @Model.Text

</div>
<div style="margin-top:80px;margin-bottom:150px">
    <form method="post" asp-controller="Course" asp-action="Course" id="pascalSubmitForm">
        <p id="outputText" class="text-danger"></p>
        <div class="form-group">
            <label class="form-check-label">My Text Area</label>
            <div id="loading"></div>
            <div id="Text" style="height:250px;width:550px" name="Text">@Model.Template</div>

        </div>
        <input type="hidden" value="@Model.ID" name="ExercisesID" id="ExercisesID" />
        <input type="hidden" value="@Model.CourseID" name="CourseID" id="CourseID" /><!--TODO FIX DELETE -->


        <input type="submit" class="genric-btn success-border circle arrow float-right" value="Submit" />
    </form>

</div>

<script type="text/javascript">
    //For TextEditor
    var e = ace.edit("Text");
    e.getSession().setMode("ace/mode/pascal");

    $("#pascalSubmitForm").submit(function (event) {
        event.preventDefault();
        $('#loading').html("").show();
        var testData =
        {
            'ExercisesID': $("#ExercisesID").val(),
            'CourseID': $("#CourseID").val(),
            'Text': e.getValue(),
        };
        $('#loading').html('<img src="/lib/img/loader/loader.gif"/>');
        $("#outputText").html("");
        $.ajax({
            type: "POST",
            url: '@Url.Action("Course","Course")',
            data: JSON.stringify(testData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            timeout:0,
            success: successFunc,
            error: errorFunc
        });
    });
    function successFunc(data, status) {

       $("#outputText").html(data);
       $('#loading').html("").hide();

    }

    function errorFunc(errorData) {
        $('#loading').html("").hide();
        alert('Error' + errorData.responseText);
    }
</script>